.FooterBox {
  padding-top: 59px;
  padding-bottom: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent-1 {
  color: var(--Dark, #3c3030);
  font-family: "Iowan Old Style";
  font-size: 15.095px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21.133px */
}
.footer-ellipse {
  width: 8.302px;
  height: 8.302px;
}

.footerPart-1 {
  display: flex;
}
.footerContent-2 {
  color: var(--Dark, #3c3030);
  font-family: "Iowan Old Style";
  font-size: 15.095px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 21.133px */
}
.footerContent-3 {
  padding-left: 8px;
  color: var(--Dark, #3c3030);
  font-family: "Inria Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

/* Mobile View */
@media (max-width: 480px) {
  .FooterBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .footerPart-2 {
    text-align: center;
    width: 160px;
  }

  footer {
    margin-bottom: 100px;
  }
}
