* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 32px;
}

.headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 47px;
}
.ellipse {
  width: 60.291px;
  height: 60.291px;
}
.heading {
  color: var(--Dark, #3c3030);
  font-family: "Iowan Old Style";
  font-size: 84px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.hr-line {
  background: #3c3030;
  height: 1px;
}

/* Mobile View */
@media (max-width: 480px) {
  .headerBox {
    margin-bottom: 16px;
  }

  .ellipse {
    width: 30px;
    height: 30px;
  }

  .heading {
    font-size: 36px;
    text-align: center;
    line-height: 120%;
  }

  .hr-line {
    width: 100%;
  }
}
